language: c

compiler:
  - gcc
  - clang

os:
  - linux
  - osx

script:
  - ./build.sh
  - cd test && make && cd ..
  - PROG=test/mbus_parse_hex
  - test/generate-xml.sh test/test-frames $PROG
  - test/generate-xml.sh test/error-frames $PROG || true
  - test/generate-xml.sh test/unsupported-frames $PROG || true
