Source: libmbus
Priority: extra
Maintainer: Robert Johansson <rob@raditex.nu>
Build-Depends: debhelper (>= 7.0.50~), dh-autoreconf
Standards-Version: 3.8.4
Section: libs
Homepage: http://www.rscada.se/libmbus

Package: libmbus-dev
Section: libdevel
Architecture: any
Depends: libmbus1 (= ${binary:Version}), libc6
Description: FreeSCADA M-Bus Library Development files.
 A free and open-source library for M-Bus (Meter Bus) from the rSCADA project,
 including development files.

Package: libmbus1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6
Description: FreeSCADA M-Bus Library.
 A free and open-source library for M-Bus (Meter Bus) from the rSCADA project.

Package: libmbus1-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libmbus1 (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for libmbus1
 A free and open-source library for M-Bus (Meter Bus) from the rSCADA project,
 including debugging symbols.

