#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

execute_before_dh_autoreconf:
	mkdir -p m4 libltdl/config

# Some files reappear when clean.sh is called from make
execute_after_dh_clean:
	./clean.sh

%:
	dh $@ --with autoreconf

.PHONY: override_dh_strip execute_before_dh_autoreconf




