#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh --with autoreconf $@

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=libmbus1-dbg

#override_dh_auto_configure:
#	dh_auto_configure -- --prefix=/usr/local/freescada

#override_dh_usrlocal:
#	echo "dh_usrlocal does nothing"
